<h1>คิดคูปองพนักงาน</h1>
<!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">-->
<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <md-card class="example-card">
            <div class="row">
                <div class="col-md-6">
                    <h4>Brand</h4>
                </div>
                <div class="col-md-6">
                    <md-input-container>
                        <input mdInput
                               placeholder="เลือก ยี่ห้อ"
                               value="GQ"
                               [(ngModel)]="BrandValue"
                               (ngModelChange)="printBrand()"
                               name="brand"
                               required>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Lot Number#</h4>
                </div>
                <div class="col-md-6">
                    <md-input-container>
                        <input mdInput
                               placeholder="Lot Number#"
                               [(ngModel)]="LotNumber"
                               (ngModelChange)="printLotNo()"
                               name="lotNo"
                               required>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Date</h4>
                </div>
                <div class="col-md-6">
                    <!--<app-datepicker name="dp" [(ngModel)]="date"></app-datepicker>-->
                    <md-input-container>
                        <input mdInput
                               [mdDatepicker]="picker"
                               placeholder="เลือก วันที่"
                               [(ngModel)]="DateValue"
                               (ngModelChange)="printDate()"
                               name="date"
                               required>
                        <button mdSuffix [mdDatepickerToggle]="picker"></button>
                    </md-input-container>
                    <md-datepicker #picker></md-datepicker>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Fabric Amount (Round(s))</h4>
                </div>
                <div class="col-md-6">
                    <md-input-container>
                        <input mdInput
                               placeholder="จำนวนวง"
                               [(ngModel)]="FabricAmount"
                               (ngModelChange)="printFabricAmount()"
                               type="number"
                               min="1"
                               name="fa"
                               required>
                    </md-input-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h4>Size</h4>
                </div>
                <div class="col-md-6">
                    <div class="myclass customclass">
                        <angular2-multiselect
                                [data]="SizeList"
                                [(ngModel)]="SizeSelectedItems"
                                [settings]="SizeDropdownSettings"
                                (onSelect)="onItemSelect($event)"
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)"
                                [ngModelOptions]="{standalone: true}">
                        </angular2-multiselect>
                    </div>
                </div>
            </div>
            <md-card-actions>
                <button md-button type="submit" [disabled]="!f.form.valid">Submit</button>
                <button md-button (click)="f.reset()">Reset</button>
            </md-card-actions>
        </md-card>
    </div>
</form>
<!--</form>-->
<br><br>
<hr>
<!--<app-upload></app-upload>-->
